#b1{
    background-color: orangered;
}

#b1:hover{
    background-color:grey;
    color:aliceblue;
    box-shadow: 2px 2px black;
    cursor:pointer;
}
#b2{
    background-color: grey;
}

#b2:hover{
    background-color: red;
    color:white;
    box-shadow: 2px 2px black;
    cursor:pointer;
}

.b3{
    background-color: red;
    box-shadow: 2px 2px;
}

.b3:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color:white;

}