#addition{
    width: 60px;
    margin: 0 5px;
    background-color: orangered;
}

#addition:hover{
    background-color: grey;
    color:white;
    cursor:pointer;
}

#subraction{
    width: 60px;
    margin: 0 5px;
    background-color: rgb(135, 135, 255);
}

#subraction:hover{
    background-color: rgb(190, 190, 255);
    cursor:pointer;
}

#product{
    width: 60px;
    margin:5px;
    background-color: red;
}

#product:hover{
    background-color: #ff8181;
    cursor:pointer;
}

#division{
    width: 60px;
    margin:5px;
    background-color: black;
    color:white;
}

#division:hover{
    background-color: #5c5c5c;
    cursor:pointer;
}

.but1{
    width: 100px;
    margin:5px;
}

.but1:hover{
    background-color: aqua;
    box-shadow: 3px 3px black;
}

.but2{
    width: 100px;
    margin:5px;
}

.but2:hover{
    background-color: red;
    box-shadow: 3px 3px black;
}

.but3{
    width: 250px;
    box-shadow: 3px 3px grey;
}

.but3:hover{
    background-color: rgb(255, 143, 143);
    box-shadow: 3px 3px 3px  rgb(255, 0, 0);
}


